body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url(images/background.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.certificate {
  max-width: 1132px;
  margin-left: 70px;
  margin-right: 50px;
  margin-top: 40px;
  width: 100%;
  background-color: none;
  border: 10px solid #859f3d;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}

h1 {
  color: #859f3d;
  margin-bottom: 10px;
}

.name {
  font-size: 2em;
  font-weight: bold;
  color: #f6fcdf;
}
.certificate,
p {
  color: #f6fcdf;
}

.course-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #859f3d;
}

.date {
  font-style: italic;
  color: #f6fcdf;
}

.signature {
  margin-top: 50px;
  text-align: left;
  padding-left: 50px;
}
