body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url(images/background.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  max-width: 1132px;
  margin: 10px auto;
}

.head {
  font-size: 22px;
}

.head ul {
  list-style-type: none;

  background-color: none;
}

.head li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-top: 22px;
  margin-bottom: 20px;
  margin-right: 5px;
  text-decoration: none;
  text-align: justify;
  float: right;
}

.head li a:hover {
  background-color: #859f3d;
}

#join-us {
  background-color: #859f3d;
}
#img {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
}
.text {
  margin-top: 100px;
  position: left;
  font-size: larger;
  color: #859f3d;
}
#para {
  font-size: 25px;
  color: #f6fcdf;
}
.faq {
  float: left;
  text-align: center;
  margin-right: 600px;
  margin-top: 50px;
  margin-left: 10px;
}
.faq h2 {
  text-align: center;
  color: #859f3d;
  font-size: 26px;
}
.help h2 {
  text-align: center;
  color: #859f3d;
  font-size: 26px;
}
.faq p {
  color: #f6fcdf;
  font-size: 20px;
}
.help {
  float: right;
  margin-left: 600px;
  text-align: center;
  margin-top: -222px;
  margin-right: 10px;
}
.help p {
  color: #f6fcdf;
  font-size: 20px;
}
.social {
  margin-right: 5px;
  margin-top: 500px;
  text-align: right;
  font-size: 15px;
}
#footer {
  color: #f6fcdf;
  text-align: center;
}
#follow {
  margin-right: 5px;
  font-size: 32px;
  color: #859f3d;
  margin-right: 30px;
}
.location {
  margin-bottom: -600px;
  text-align: left;
  padding: 0px;
}
.location h2 {
  margin-left: 15px;
  margin-bottom: -17px;
  font-size: 32px;
  color: #859f3d;
}
.location p {
  margin-left: 5px;
  margin-bottom: 50px;
  font-size: 20px;
  color: #f6fcdf;
}
.foot {
  background-color: none;
  margin-top: 300px;
}
footer {
  margin-top: 400px;
}
