body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url(images/background.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.head {
  font-size: 22px;
}

.head ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

.head li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-top: 22px;
  margin-bottom: 20px;
  margin-right: 5px;
  text-decoration: none;
  text-align: justify;
  float: right;
}

.head li a:hover {
  background-color: #859f3d;
}

#join-us {
  background-color: #859f3d;
}
.total {
  width: 1132px;
  margin: 10px auto;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.text {
  max-width: max-content;
  background-color: black;
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.mySlides fade {
  max-width: 100px;
  max-height: 100px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.social {
  margin-right: 5px;
  margin-top: 500px;
  text-align: right;
  font-size: 15px;
}
#footer {
  color: #f6fcdf;
  text-align: center;
}
#follow {
  margin-right: 5px;
  font-size: 32px;
  color: #859f3d;
  margin-right: 30px;
}
.location {
  margin-bottom: -600px;
  text-align: left;
  padding: 0px;
}
.location h2 {
  margin-left: 15px;
  margin-bottom: -17px;
  font-size: 32px;
  color: #859f3d;
}
.location p {
  margin-left: 5px;
  margin-bottom: 50px;
  font-size: 20px;
  color: #f6fcdf;
}
.foot {
  background-color: none;
  margin-top: 100px;
}
.p1 {
  text-align: justify;
  font-size: 22px;
  color: #f6fcdf;
  max-width: 600px;
}
#image {
  margin-top: -330px;
  float: right;
}
.p2,
h1 {
  font-size: 50px;
  color: #f6fcdf;
  text-align: center;
  margin-top: 100px;
}
.p2,
ul,
li {
  text-align: left;
  font-size: 22px;
  color: #f6fcdf;
}
