body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.heading {
  color: #f6fcfd;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}
.total {
  max-width: 1132px;
  margin: 10px auto;
}
#join-us {
  margin-top: -300px;
  font-size: 25px;
  float: right;
  background-color: none;
}
.head ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}
.head ul a {
  display: block;
  color: #859f3d;
  text-align: center;
  padding: 14px 16px;
  margin-top: 22px;
  margin-bottom: 20px;
  margin-right: 5px;
  text-decoration: none;
  text-align: justify;
  float: right;
}
.head li a:hover {
  background-color: #f6fcfd;
}
#institute {
  margin-bottom: 50px;
  margin-top: -100px;
  margin-left: 500px;
}
#te {
  font-size: 22px;
  color: #f6fcfd;
  margin-bottom: 50px;
  margin-top: -100px;
  margin-left: 650px;
}
.about {
  margin-top: 10px;
  float: left;
  color: #f6fcfd;
  font-size: 22px;
  max-width: 650px;
  text-align: justify;
}
.table {
  color: #f6fcfd;
  font-size: 20px;
  float: right;
}
.table,
th,
td {
  border: 4px solid black;
  text-align: center;
}
h3 {
  text-align: center;
}
.faq {
  border: 4px solid black;
  color: #f6fcfd;
  font-size: 22px;
  text-align: center;
  margin-top: 340px;
  margin-left: 320px;
  margin-right: 320px;
}
.teach {
  font-size: 22px;
}
#img2 {
  margin-left: 250px;
  margin-top: -226px;
}
ul {
  list-style-type: none;
}
.name {
  color: #f6fcfd;
  font-size: 22px;
  margin-left: 40px;
}
.click {
  color: #f6fcfd;
  margin-top: -20px;
}
